{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>ABOUT THE FOUNDATION</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p class="who-we-are">Who We Are</p>
            <h3>Unleashing Potential with Creative Strategy</h3>
            <p class="fst-italic">
              Sarah Foundation, for Children and Adult Wellness and Mental Health Awareness is a non-governmental, non-profit organization committed to supporting and empowering vulnerable individuals within various communities in Lagos, Nigeria, Creating a significant and lasting positive impact on the lives of those who need it most.
              Each year, we organize several impactful outreach programs, essential support, educational resources and skill development opportunities to children, adults, and widows in underserved areas across different communities in Lagos, Nigeria throughout the year. Sarah Foundation is designed to make a tangible difference in the lives of children, widows, and other disadvantaged groups. 
            </p>
            <h3>Our Mission</h3>
            <p class=""fst-italic>
              Supporting and empowering vulnerable individuals in society.
            </p>
            <h3>Our Vision</h3>
            <p class=""fst-italic>
              To cultivate good independence in people in society.
            </p>
            <h3>Join Hands with Us to Make a Lasting Impact</h3>
            <p class=""fst-italic>
              We invite you to stand with Sarah Foundation in transforming lives and restoring hope. Your contribution isn’t just a donation — it’s an investment in humanity. Together, we can bring light to children who’ve lost their way, empower young minds with purpose, and help families rise above hardship.
              Every act of generosity fuels our mission to build a future where no child is left behind, no widow forgotten, and no dream abandoned.
              your support enables us to:
            </p>
            <p class=""fst-italic>
             <ul>
              <li><i class="bi bi-check-circle"></i> <span>Provide essential items for orphans and children in need</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Empower young people with sustainable skills</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Uplift widows and restore their dignity</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Promote education and reduce school drop-out rates in vulnerable communities</span></li>
            </ul> 
            </p>
            <a href="#" class="read-more"><span>Support us</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-lg-6">
                <img src="{% static 'img/about1.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6">
                <div class="row gy-4">
                  <div class="col-lg-12">
                    <img src="{% static 'img/about2.jpg' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-12">
                    <img src="{% static 'img/about3.jpg' %}" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- /About Section -->

{% endblock %}