{% extends 'base.html' %}

{% block body %}
{% load static %}

<!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
          <img src="{% static 'img/hero-carousel/slide1.png' %}" alt="">
          <div class="carousel-container">
            <h2>A Safe Place for Every Mind</h2>
            <p>At Sarah Foundation, we believe mental health is just as important as physical health. We create spaces where children, adolescents, and adults can feel safe, supported, and understood — no matter their journey.</p>
            <a href="{% url 'about' %}" class="btn-get-started">Read More</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'img/hero-carousel/slide2.png' %}" alt="">
          <div class="carousel-container">
            <h2>Educating Minds</h2>
            <p>Through school and community programs, we raise awareness about mental health, breaking the stigma and building understanding — one conversation at a time.</p>
            <a href="{% url 'about' %}" class="btn-get-started">Read More</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'img/hero-carousel/slide3.png' %}" alt="">
          <div class="carousel-container">
            <h2>Early Support, Brighter Futures</h2>
            <p>We provide resources, mentorship, and guidance before challenges become crises — ensuring people get the help they need when it matters most.</p>
            <a href="{% url 'about' %}" class="btn-get-started">Read More</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'img/hero-carousel/slide4.png' %}" alt="">
          <div class="carousel-container">
            <h2>Accessible Care for All</h2>
            <p>No matter where you are, we connect you to safe spaces, tools, and support systems that promote healing and resilience.</p>
            <a href="{% url 'about' %}" class="btn-get-started">Read More</a>
          </div>
        </div><!-- End Carousel Item -->

        <div class="carousel-item">
          <img src="{% static 'img/hero-carousel/slide5.png' %}" alt="">
          <div class="carousel-container">
            <h2>A Community of Hope</h2>
            <p>We are more than an organization — we are a family built on empathy, hope, and the belief that together, healing is possible.</p>
            <a href="{% url 'about' %}" class="btn-get-started">Read More</a>
          </div>
        </div><!-- End Carousel Item -->

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        <ol class="carousel-indicators"></ol>

      </div>

    </section><!-- /Hero Section -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section dark-background">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="bi bi-bullseye"></i></div>
            <div>
              <h4 class="title">Mission</h4>
              <p class="description">Supporting and empowering vulnerable individuals in the society</p>
              
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-eye"></i></div>
            <div>
              <h4 class="title">Vision</h4>
              <p class="description">To visual good independence in people in the society</p>
              
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="icon flex-shrink-0"><i class="bi bi-lightbulb"></i></div>
            <div>
              <h4 class="title">Motto</h4>
              <p class="description">To empower the less privilege in the community</p>
              
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Featured Services Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>ABOUT THE FOUNDATION</h2>
        <p></p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p class="who-we-are">Who We Are</p>
            <h3>Unleashing Potential with Creative Strategy</h3>
            <p class="fst-italic">
              Sarah Foundation is dedicated to improving mental wellness for children and adults through awareness, compassion, and community support.
            </p>
            <p class=""fst-italic>
              We believe that healing begins with understanding - and we're here to walk that journey with every individual
            </p>
            <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-lg-6">
                <img src="{% static 'img/image2.png' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6">
                <div class="row gy-4">
                  <div class="col-lg-12">
                    <img src="{% static 'img/image4.png' %}" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-12">
                    <img src="{% static 'img/image5.png' %}" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Beneficiaries reached</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Community Programs</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Counselling & support hours</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
              <p>Active volunteers</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Our Impact</h2>
        <p>Making a difference in communities by addressing mental health and wellness needs.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-heart-pulse icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Mental Health Awareness</a></h4>
                <p class="description">We bring mental health education to schools and communities, breaking stigma and fostering understanding.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-broadcast icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Early Intervention Program</a></h4>
                <p class="description">Identifying signs early can change lives. Our trained volunteers and professionals provide timely support and referrals.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-easel3 icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Workshops & Training</a></h4>
                <p class="description">Practical sessions for students, teachers, and parents on emotional resilience, coping strategies, and peer support.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-diagram-3 icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Support Groups</a></h4>
                <p class="description">Safe, judgment-free spaces where individuals can share, listen, and grow together.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-calendar-event icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Community Events</a></h4>
                <p class="description">Wellness walks, mental health fairs, and open discussions that build stronger, more connected communities.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item d-flex position-relative h-100">
              <i class="bi bi-chat-square-text icon flex-shrink-0"></i>
              <div>
                <h4 class="title"><a href="" class="stretched-link">Counselling & Resources</a></h4>
                <p class="description">Access to mental health professionals and curated self-help materials for those seeking guidance.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="{% static 'img/g10.png/' %}" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Call To Action</h3>
              <p>Every step toward mental wellness starts with a conversation — and your action today can make a lasting difference. Whether it’s volunteering your time, contributing resources, or joining our community events, you are helping us create safe spaces, spread awareness, and make support accessible for all.</p>
              <a class="cta-btn" href="#">Support Our Work</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <p><span>Check</span> <span class="description-title">Our Gallery</span></p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/g1.jpg' %}"><img src="{% static 'img/gallery/g1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/g2.jpg' %}"><img src="{% static 'img/gallery/g2.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/g3.jpg' %}"><img src="{% static 'img/gallery/g3.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/g10.jpg' %}"><img src="{% static 'img/gallery/g10.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/g5.jpg' %}"><img src="{% static 'img/gallery/g5.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/g6.jpg' %}"><img src="{% static 'img/gallery/g6.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/g12.jpg' %}"><img src="{% static 'img/gallery/g12.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'img/gallery/g11.jpg' %}"><img src="{% static 'img/gallery/g11.jpg' %}" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

        </div>

      </div>

    </section><!-- /Team Section -->

   
    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>At Sarah Foundation, we believe clarity builds trust. Our Frequently Asked Questions section is here to help you understand who we are, what we do, and how you can be part of our mission to empower individuals towards independence.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div class="faq-item">
                <h3>What is the Sarah Foundation?</h3>
                <div class="faq-content">
                  <p>Sarah Foundation is a non-profit organization dedicated to supporting and empowering vulnerable individuals, helping them achieve independence and dignity.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Who do you help?</h3>
                <div class="faq-content">
                  <p>We focus on individuals and communities facing hardship, especially the less privileged, providing resources, skills, and opportunities to improve their lives.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>What kind of support do you offer?</h3>
                <div class="faq-content">
                  <p>Our programs include skill development, community outreach, educational support, and access to basic needs — all designed to foster self-reliance.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">

              <div class="faq-item">
                <h3>How can I get involved?</h3>
                <div class="faq-content">
                  <p>You can volunteer your time, donate funds or materials, or partner with us to expand the reach of our impact.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How are donations used?</h3>
                <div class="faq-content">
                  <p>Every donation is directed towards programs and initiatives that directly benefit our target communities, with transparent reporting on impact.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How can I contact Sarah Foundation?</h3>
                <div class="faq-content">
                  <p>You can reach us via our website, email, or social media platforms — we’re always happy to connect with supporters and partners.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Whether you have questions, ideas, or simply want to learn more about how we empower individuals, we’d love to hear from you. Reach out to the Sarah Foundation team, and we’ll get back to you as soon as possible.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p></p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-4">
            <div class="info-item d-flex flex-column justify-content-center align-items-center info-item-borders">
              <i class="bi bi-telephone"></i>
              <h3>Call Us</h3>
              <p>08155019658</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-4">
            <div class="info-item d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>sarahfoundation24@gmail.com</p>
            </div>
          </div><!-- End Info Item -->

        </div>

        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->


{% endblock %}